body{
    background-color: black;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    color: antiquewhite;
}

h2{
    color: antiquewhite;
}
h3{
    color: antiquewhite;
}